
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Trible A | Gymnastic" />
    <!-- Normalize File -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- slider css -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <!-- Web Fonts File -->
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css" />
    <!-- CSS Main File -->
    <link rel="stylesheet" href="~/css/signup.css" />
    <link rel="stylesheet" href="~/css/forgotpassword.css" />
    <!-- Font Faamily -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
          rel="stylesheet" />
    <title>Trible A | Gymnastic | Forgot Password</title>
</head>
<body>
    <div class="loading">
        <div class="animation">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>

    <div class="header">
        <div class="time">
            <i class="fa-solid fa-futbol"></i>
            <p>Curva Hagz</p>
        </div>
        <div class="social-media">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>

    <div class="landing-page">
        <div class="container forgot-password-container">
            <div class="nav">
                <div class="logo">
                    <i class="fa-solid fa-futbol"></i>
                    <p>Curva <span>Hagz</span></p>
                </div>
                <div class="links">
                    <ul id="menu">
                        <i class="fa-regular fa-circle-xmark" onclick="closemenu()"></i>
                        <a asp-controller="Home" asp-action="Index">
                        <li>home</li></a>
                        <a asp-controller="Home" asp-action="About">
                        <li>about us</li></a>
                        <a asp-controller="Home" asp-action="Contact">
                        <li>contact</li></a>
                    </ul>
                    <i class="fa-solid fa-bars" onclick="openmenu()"></i>
                    <a asp-controller="Account" asp-action="PlayerProfile" class="profile-button">Login</a>
                </div>
            </div>
            <div class="content reveal reveal-bottom">
                <h1>forgot password</h1>
            </div>
        </div>
    </div>

    <div class="form signup">
        <div class="container">
            <div class="form-out">
                <h3>Reset Your Password</h3>
                <p class="forgot-info">Enter the email address associated with your account and we'll send you a link to reset your password.</p>
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <div class="form-cont">
                        <div class="pages">
                            <div class="page">
                                <div class="row">
                                    <div class="field full-width">
                                        <label for="reset-email">email</label>
                                        <input type="email" name="email" placeholder="enter your email" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field full-width">
                                        <input type="submit" class="submit" value="Send Reset Link" />
                                        <a asp-controller="Account" asp-action="LogIn" class="back-link">Back to login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="about reveal reveal-left">
                <div class="logo">
                    <i class="fa-solid fa-futbol"></i>
                    <p>Curva <span>Hagz</span></p>
                </div>
                <div class="info">
                    <p>
                        Welcome to Triple A, where your fitness journey begins! At Triple
                        A. Join us today and unleash your full potential at Triple A!
                    </p>
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>FCI-KFSU-KFS-EGY</p>
                    </div>
                    <div class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <p>(+20) 127 489 2442</p>
                    </div>
                </div>
            </div>
            <div class="quick-links reveal reveal-left">
                <h3>quick links</h3>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="index.html">home</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="about.html">about us</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="contact.html">contact</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">classes</a>
                </div>
            </div>
            <div class="useful-links reveal reveal-right">
                <h3>useful links</h3>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">privacy policy</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">term & conditions</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">elements</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">support</a>
                </div>
            </div>
            <div class="newsletter reveal reveal-right">
                <h3>newsletter</h3>
                <p>
                    Stay informed and inspired with our newsletter, exciting updates,
                    and special offers delivered straight to your inbox.
                </p>
                <form action="#">
                    <input type="email"
                           name="email"
                           id="email"
                           placeholder="Email Address"
                           autocomplete="on" />
                    <input type="submit" value="subscribe" />
                </form>
            </div>
        </div>
    </div>

    <footer>
        <p>copyright &copy; curva hagz a 2025 all rights reserved</p>
        <div class="social-media">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer>

    <script src="~/js/signup.js"></script>
    <script src="~/js/forgotpassword.js"></script>

    <style>
        .message {
            color: var(--items-color);
            text-align: center;
            margin-top: 15px;
            padding: 10px;
            border-radius: 20px;
            background-color: rgba(243, 75, 24, 0.1);
        }
    </style>
</body>
</html>
