@model UserSignUpVm

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Trible A | Gymnastic" />
    <!-- Normalize File -->
    <link rel="stylesheet" href="~/css/normalize.css" />
    <!-- slider css -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
    <!-- Web Fonts File -->
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css" />
    <link rel="stylesheet"
          href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css" />
    <!-- CSS Main File -->
    <link rel="stylesheet" href="~/css/signup.css" />
    <!-- Font Faamily -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
          rel="stylesheet" />
    <title>Trible A | Gymnastic | Account</title>
</head>
<body>
    <div class="loading">
        <div class="animation">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>

    <div class="header">
        <div class="time">
            <i class="fa-solid fa-futbol"></i>
            <p>Curva Hagz</p>
        </div>
        <div class="social-media">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>

    <div class="landing-page">
        <div class="container">
            <div class="nav">
                <div class="logo">
                    <i class="fa-solid fa-futbol"></i>
                    <p>Curva <span>Hagz</span></p>
                </div>
                <div class="links">
                    <ul id="menu">
                        <i class="fa-regular fa-circle-xmark" onclick="closemenu()"></i>
                        <a href="index.html">
                        <li>home</li></a>
                        <a href="about.html">
                        <li>about us</li></a>
                        <a href="contact.html">
                        <li>contact</li></a>
                        <a href="#">
                        <li>classes</li></a>
                    </ul>
                    <i class="fa-solid fa-bars" onclick="openmenu()"></i>
                    <a asp-action="LogIn" class="profile-button">login</a>
                </div>
            </div>
            <div class="content reveal reveal-bottom">
                <h1>sign up</h1>
            </div>
        </div>
    </div>

    <div class="form signup">
        <div class="container">
            <div class="form-out">
                <h3>sign up</h3>
                <div class="progress-bar">
                    <div class="step">
                        <p>personal</p>
                        <div class="bullet">
                            <i class="check fas fa-check"></i>
                            <span>1</span>
                        </div>
                    </div>
                    <!-- Update -->
                    <span class="line-1"></span>
                    <div class="step">
                        <p>location</p>
                        <div class="bullet">
                            <i class="check fas fa-check"></i>
                            <span>2</span>
                        </div>
                    </div>
                    <!-- Update -->
                    <span class="line-2"></span>
                    <div class="step">
                        <p>finishing</p>
                        <div class="bullet">
                            <i class="check fas fa-check"></i>
                            <span>3</span>
                        </div>
                    </div>
                </div>
                <form asp-controller="Account" asp-action="SignUp" method="post">
                    <div class="form-cont">
                        <div class="pages">
                            <div class="page side-page">
                                <h4>personal info:</h4>
                                <div class="row">
                                    <div class="field">
                                        <label for="f-name">first name</label>
                                        <input type="text"
                                               asp-for="FName"
                                               id="f-name"
                                               placeholder="Enter your first name" />
                                        <span class="validation" asp-validation-for="FName"></span>
                                    </div>
                                    <div class="field">
                                        <label for="m-name">middle name</label>
                                        <input type="text"
                                               asp-for="MName"
                                               id="m-name"
                                               placeholder="Enter your middle name" />
                                        <span class="validation" asp-validation-for="MName"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <label for="l-name">last name</label>
                                        <input type="text"
                                               asp-for="LName"
                                               id="l-name"
                                               placeholder="Enter your last name" />
                                        <span class="validation" asp-validation-for="LName"></span>
                                    </div>
                                    <div class="field">
                                        <label for="signup-email">email</label>
                                        <input type="email"
                                               asp-for="Email"
                                               id="signup-email"
                                               placeholder="Enter your email" />
                                        <span class="validation" asp-validation-for="Email"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <label for="phone">phone</label>
                                        <input type="tel"
                                               asp-for="Phone"
                                               id="phone"
                                               placeholder="Enter your phone" />
                                        <span class="validation" asp-validation-for="Phone"></span>
                                    </div>
                                    <div class="field">
                                        <p style="margin-bottom: 5px">Gender</p>
                                        <div class="gender-field">
                                            <div class="gender">
                                                <input type="radio"
                                                       asp-for="Gender"
                                                       id="male"
                                                       value="Male" 
                                                       checked="checked" />
                                                <label for="male">male</label>
                                            </div>
                                            <div class="gender">
                                                <input type="radio"
                                                       asp-for="Gender"
                                                       id="female"
                                                       value="Female" />
                                                <label for="female">female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field full-width">
                                        <p class="next-btn">next</p>
                                    </div>
                                </div>
                            </div>
                            <div class="page">
                                <h4>location info:</h4>
                                <div class="row">
                                    <div class="field full-width">
                                        <label for="gov">government</label>
                                        <select asp-for="Government" id="gov">
                                            <option value="alexandria">Alexandria</option>
                                            <option value="elbeheira">Elbeheira</option>
                                            <option value="kafrelsheikh">Kafrelsheikh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field full-width">
                                        <label for="city">city</label>
                                        <input type="text"
                                               asp-for="City"
                                               id="city"
                                               placeholder="Enter Your City" />
                                        <span class="validation" asp-validation-for="City"></span>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field full-width">
                                        <label for="address">address</label>
                                        <input type="text"
                                               asp-for="Address"
                                               id="address"
                                               placeholder="Enter Your Address" />
                                        <span class="validation" asp-validation-for="Address"></span>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <p class="prev-1">prev</p>
                                    </div>
                                    <div class="field">
                                        <p class="next-1">next</p>
                                    </div>
                                </div>
                            </div>
                            <div class="page">
                                <h4>finishing:</h4>
                                <div class="row">
                                    <div class="field full-width">
                                        <p style="margin-bottom: 5px">I am</p>
                                        <div class="gender-field">
                                            <div class="gender owner">
                                                <input type="radio"
                                                       asp-for="IsOwner"
                                                       id="player"
                                                       value="Player" />
                                                <label for="player">Player</label>
                                            </div>
                                            <div class="gender owner">
                                                <input type="radio"
                                                       asp-for="IsOwner"
                                                       id="owner"
                                                       value="Owner" />
                                                <label for="owner">Owner</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <label for="pass-2">password</label>
                                        <div class="pass-feild">
                                            <input type="password"
                                                   asp-for="Password"
                                                   id="pass-2"
                                                   placeholder="Password" />
                                            <i class="fa-solid fa-eye-slash eye" id="eye-2"></i>
                                        </div>
                                        <span class="validation" asp-validation-for="Password"></span>
                                    </div>
                                    <div class="field">
                                        <label for="pass-3">confirm password</label>
                                        <div class="pass-feild">
                                            <input type="password"
                                                   asp-for="ConfirmPassword"
                                                   id="pass-3"
                                                   placeholder="Password" />
                                            <i class="fa-solid fa-eye-slash eye" id="eye-3"></i>
                                        </div>
                                        <span class="validation" asp-validation-for="ConfirmPassword"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <p class="prev-2">prev</p>
                                    </div>
                                    <div class="field">
                                        <input type="submit" class="submit" value="Submit" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="about reveal reveal-left">
                <div class="logo">
                    <i class="fa-solid fa-futbol"></i>
                    <p>Curva <span>Hagz</span></p>
                </div>
                <div class="info">
                    <p>
                        Welcome to Triple A, where your fitness journey begins! At Triple
                        A. Join us today and unleash your full potential at Triple A!
                    </p>
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>FCI-KFSU-KFS-EGY</p>
                    </div>
                    <div class="phone">
                        <i class="fa-solid fa-phone"></i>
                        <p>(+20) 127 489 2442</p>
                    </div>
                </div>
            </div>
            <div class="quick-links reveal reveal-left">
                <h3>quick links</h3>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="index.html">home</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="about.html">about us</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="contact.html">contact</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">classes</a>
                </div>
            </div>
            <div class="useful-links reveal reveal-right">
                <h3>useful links</h3>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">privacy policy</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">term & conditions</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">elements</a>
                </div>
                <div class="link">
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="#">support</a>
                </div>
            </div>
            <div class="newsletter reveal reveal-right">
                <h3>newsletter</h3>
                <p>
                    Stay informed and inspired with our newsletter, exciting updates,
                    and special offers delivered straight to your inbox.
                </p>
                <form action="#">
                    <input type="email"
                           asp-for="Email"
                           id="email"
                           placeholder="Email Address"
                           autocomplete="on" />
                    <input type="submit" value="subscribe" />
                </form>
            </div>
        </div>
    </div>

    <footer>
        <p>copyright &copy; curva hagz a 2025 all rights reserved</p>
        <div class="social-media">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </footer>

    <script src="~/js/signup.js"></script>
    @section Scripts {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    }
</body>
</html>
